.card {
  margin: 0;
  width: 240px;
  border-radius: 10px;

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
  }

  div[class='card-title'] {
    cursor: pointer;
  }
}
