.cardTitle {
  font-family: 'starwars';
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 26px;
  margin: 0;
  padding: 10px 0 15px 0;
}

h1.cardTitle {
  font-size: 34px;
}

h2.cardTitle {
  font-size: 26px;
}

h3.cardTitle {
  font-size: 18px;
}

.dark {
  color: #ffe300;
}

.light {
  color: #4bd5ee;
}
